/**** Styles for navigation bar *****/

.top-navigation {
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.top-navigation .links li{
    display: inline-block;
    margin-left: 1.563rem;
}

.top-navigation .links {
    float: right;
    color: #838994;
    margin-top: 1.7rem;
}

.logo {
    margin: 1rem;
}
